
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
target
data/cache
data/log
data/tmp
/target/
*.iws
*.iml
*.ipr
*.hprof
*.log

.DS_Store
node_modules
/dist

### NetBeans ###
/nbproject/private/
/build/
/out/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/log

#### data ###



### test ###
#/src/test

#### local ###
/src/main/resources/application-local.properties
